* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --purple: #9643ff;
  --white: #ffffff;
  --black: #000000;
  --border-input: #e5e5e5;
  --line-detail: #c4c4c433;
  --black-container: #171313;
  --button-enter-room: #211d1d;
  --details-text: #5d00d3;
  --input-textarea-color: #a2a1a1;

  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: react(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
